@import "tailwindcss";

@theme {
    --animate-slide-in: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@utility container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
}

@layer components {
    .btn {
        @apply border border-gray-300 rounded-md px-7 py-2 focus:outline-none focus:border-emerald-600 cursor-pointer hover:bg-green-600/80 hover:text-white transition-all;
    }

    .input {
        @apply border border-gray-300 rounded-md px-7 py-2 focus:outline-none focus:border-green-600 w-full;
    }

    .input-control {
        @apply flex flex-col gap-2;
    }

    body {
        font-family: 'Cairo', sans-serif;
    }
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1 !important;
    transition: all 0.3 ease;
}

.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1) !important;
    width: 32px !important ;
    border-radius: 6px !important;

}